{
  "presets": [
      "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-syntax-jsx"]
}
// {
//   "presets": [
//     "@babel/preset-env", "@babel/preset-react"
//   ],
//   "plugins": ["@babel/plugin-syntax-jsx"],
//   "env": {
//     "test": {
//       "presets": [
//         ["@babel/preset-env", {
//           "targets": {
//             "node": "current"
//           }
//         }]
//       ]
//     }
//   }
// }
