@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;400;500&family=Roboto:wght@300;400;500;700&display=swap');

.homemap_container {
  padding: 1rem;
  text-align: right;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.homemap_container_divs_inside_p {
  font-weight: bolder;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  width: 3rem;
  border: none;
  text-decoration: none;
  color: #fff;
  animation: icon infinite 0.5s alternate-reverse;
}

@keyframes icon {
  from {
    padding-right: 0.5rem;
  }

  to {
    padding-right: 1rem;
  }
}
